// RESET & BASE STYLES
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-primary);
  font-weight: 400;
}

body {
  background-color: var(--navy);
  background-image: radial-gradient(var(--navy-line) 1px, transparent 1px);
  background-size: 23px 23px;
  color: var(--text-body);
  position: relative;
  height: auto;
  font-family: var(--font-primary);
  timeline-scope: --sponsorsReveal;
}

* {
  box-sizing: border-box;
  scroll-margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}
